@import "../../styles/variables.scss";

.appContainer {
  height: auto;
  min-height: 100vh;
}

.mainContent {
  width: 100%;
  margin: 2rem auto;

  @media screen and ($tablet) {
    width: 80%;
    margin: 4rem auto;
  }

  @media screen and ($desktop) {
    width: 60%;
  }
}
