@import "../../styles/variables.scss";

.taskContainer {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: $light-gray;
  position: relative;
  overflow: hidden;

  & > div {
    color: inherit;
    z-index: 20;
  }
}

.taskFieldLabel {
  color: inherit;
  font-weight: 500;
}

.taskSpinner {
  position: absolute;
  left: calc((100% - 600px) / 2);
  top: calc((100% - 600px) / 2);
}

.taskContainerCompleted {
  background-color: $light-green;
}
