// colors
$black: #000000;
$white: #fff;
$light-gray: #fff9f9;
$dark-gray: #333;
$light-green: #81f1f152;
$focused-green: #81f1f1;
$contrast-text-color: #000;
$highlight-color: #4d12e2;

// breakpoints
$mobile: "min-width: 425px";
$tablet: "min-width: 768px";
$desktop: "min-width: 1024px";
